*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
body{
  background-color: black;
  text-decoration:none;
  font-family:Verdana, Tahoma, sans-serif;
}
a{
  text-decoration: none;
}
.container{
  margin:auto;
  max-width:1200px;
  overflow:auto;
  padding:0 20px;
}
#navbar{
  z-index: 9999;
  position:fixed;
  background-color: black;
  color:white;
  width:100%;
  overflow:auto;
}
#navbar a{
  display:block;
  color:white;

}
#navbar h1{
  float:left;
  padding:15px;
}
#navbar ul{
  list-style: none;
  float:right;
}
#navbar ul li{
  float:left;
  

}
#navbar ul li a{
  display:block;
  padding:20px;
  text-align:center;
}
#navbar ul li a:hover,
#navbar ul li a.current{
  background:#444;
  color:#f7c08a;
}

#mainpic{
  background:url('../images/pexels-photo-707667.jpeg') no-repeat center center;
  text-align:center;
  color:white;
  font-family: Verdana, Tahoma, sans-serif;
  font-size:40px;
  height:700px;
}

h2{
  padding-top:350px;
  padding-bottom:25px;
  overflow:hidden;
}
#mainpic a,.btn{
  padding:20px;
  border:solid white;
  border-radius: 8px;
  margin-left:1px;
  font-family:Verdana, Tahoma, sans-serif;
  font-size: 15px;
  color:white;
  background-color: black;
  text-decoration: none;
  overflow:hidden;
}
#mainpic a:hover,.btn:hover{
  background:#444;
  color:#f7c08a;
  border:solid black;
}
#footerpic{
  width:100%;
}
#footerpic #blocks{
  display:block;
  margin:auto;
}
#footerpic a{
  color:white;
}
#footerpic i{
  padding:50px;
}
#footerpic a:hover{
  color:#f7c08a;
}
#footerpic h3{
  padding-top:15px;
  background:black;
  color:white;
  font-size:30px;
  font-weight:bold;
  text-align:center;
  font-family:Verdana, Tahoma, sans-serif;

}
.socialblock{
  margin-left:70px;
  padding:25px 50px;
  background: black;
  max-width:25%;
  float:left;
}
.clr{
  clear:both;
}
footer{
  background:black;
}
h3{
  color:white;
  font-size:10px;
  font-weight: lighter;
  font-family:Verdana, Tahoma, sans-serif;
  text-align:center;
  padding:15px;
}

#text{
  background-color:white;
  padding-top:100px;
  border-radius: 25px;
  color:black;
  margin:auto;
  max-width:76%;
  text-align:center;
  height:90%;
  margin-bottom:10px;
  overflow:auto;
}
#main{
  background:white;
  width:100%;
  height: 350px;
}
#main #head{
  float:left;
  width:50%;

}
#dark{
  color:#444;
  font-family:Verdana, Tahoma, sans-serif;
  margin:20px; 
  padding:100px 25px 0px 20px;
  margin-bottom:15px;
}
#yellow{
  color:#f7c08a;
  font-family:Verdana, Tahoma, sans-serif;
  margin: 20px;
  margin-top:4px;
  margin-bottom:8px;
  padding:0px 25px 12px 20px;
}
#main #head p{
  color:black;
  font-family:Verdana, Tahoma, sans-serif;
  padding-left:40px;
  line-height: 25px;
  margin-bottom:0px;
}
#main #head #pic{
  float:left;
  width:50%;
}

#quote{
  text-align:center;
}
#employee{
  margin-top:69px;
  margin-left:300px;
  border-radius: 70%;
  border:solid black;
}
#about-body{
  background:black;
  height:400px;
  font-family:Verdana, Tahoma, sans-serif;
  text-align:center;
  color:#f7c08a;
}
#about-body h2{
  padding:20px;
  padding-top:60px;
}
#about-body p{
  display:block;
  margin:auto;
  line-height:30px;
  width:70%;
}
#text p{
  max-width:85%;
  font-size: small;
  font-family:Verdana, Tahoma, sans-serif;
  text-align: center;
  margin:auto;
  line-height: 25px;
  overflow:auto;
}
.box2{
  float:left;
  background:#f7c08a;
  width:33.33%;
  height:350px;

}
.box2 i{
  display:block;
  margin:auto;
  padding-top:30px;
  padding-left: 182px;
}
#money{
  padding-left:207px;
}
.box2 h2{
  font-family:Verdana, Tahoma, sans-serif;
  text-align:center;
  padding:20px;
  padding-bottom:15px;
}
.box2 p{
  font-family:Verdana, Tahoma, sans-serif;
  text-align:center;
  font-weight: bold;
  line-height:20px;
  padding:15px;
  margin-bottom:23px;
}
.etd{
  text-align: center;
  margin-right:45px;
}
.grey{
  background:#444;
}
#head-image{
  background-image:url("../images/pexels-photo-681327.jpeg");
  padding:110px 0px;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
#contact{
  text-align: center;
  font-size:50px;
  font-family:Verdana, Tahoma, sans-serif;
  color:white;
}

#form #formbody{
  float:left;
  background:white;
  padding:0px 30px 15px 30px;
  width:50%;
  height:100%;
}
#form #formbody h2{
  color:black;
  font-family:Verdana, Tahoma, sans-serif;
  padding:10px 50px;
  margin:0;
  margin-top:15px;
}
#form #formbody #form-group label{
  color:black;
  font-family:Verdana, Tahoma, sans-serif;
  font-weight: bold;
  line-height: 2em;
  margin-left:50px;
}
#form #formbody #form-group input,
#form #formbody #form-group textarea{
  border-radius:5px;
  padding:8px;
  margin-left:50px;
}
#form #formbody #form-group input:focus,
#form #formbody #form-group textarea:focus{
  border:solid;
}
.btn{
  margin-left:50px;
  cursor: pointer;
}
#contact-info{
  background:white;
  float:right;
  width:50%;
  height:532px;
  border-left:solid black 1.5px;

}
#contact-info h3{
  margin-top:15px;
  padding-top:10px;
  text-align: left;
  font-family:Verdana, Tahoma, sans-serif;
  font-size: 25px;
  font-weight:bold;
  color:black;
}
#contact-info p{
  font-family:Verdana, Tahoma, sans-serif;
  padding:10px;
  padding-left:15.8px;
  font-size:15px;
  line-height: 2em;
}
#contact-info #hours{
  float:left;
  padding-right:70px;
}
#contact-info i{
  float:left;
  padding:0px 20px;
}
#contact-info #desktop{
  padding-right:20px;
}
#main-contact{
  border:solid black 1.5px;
  
}
#search-block{
  background:url('../images/intersectiomj.jpeg') no-repeat center center/cover;
  width:100%;
  height:650px;
  padding:50px;
  
}
#search-bar{
  margin-top:90px;
  margin-right:20px;
  float:left;
  color:black;
  background:white;
  height:60%;
  width:70%;
  border-radius:11px;
  opacity:0.8;
  line-height:30px;
}
#search-bar h2{
  color:black;
  font-family: Verdana, Tahoma, sans-serif;
  text-align:center;
  font-size:30px;
  font-weight:bold;
  padding:20px;
}
#search-bar label{
  color:black;
  font-family: Verdana, Tahoma, sans-serif;
  font-size:20px;
  font-weight:bold;
  padding: 30px 14px;
  margin:22px 7px;
}
#search-bar .filter{
  font-family: Verdana, Tahoma, sans-serif;
  font-size:15px;
  padding:5px;
 }
#search-bar .type{
  margin:12px 3px;
  margin-left:12px;
  padding-left:10px;
  cursor:pointer;
}

#search-bar #smaller{
  color:black;
  font-family: Verdana, Tahoma, sans-serif;
  font-size:15px;
  padding: 30px 14px;
  margin:22px 7px;
}
#search{
  width:80%;
  height:30px;
  border-radius:9px;
  margin:22px 7px;
  margin-left:2px;
}
#contact-box{
  width:27%;
  margin-top:70px;
  float:right;
  background:white;
  height:80%;
  border-radius: 4px;
}
#contact-box h2{
  color:black;
  font-family: Verdana, Tahoma, sans-serif;
  font-size:20px;
  font-weight:bold;
  padding:30px 14px;
  text-align: center;
}
#contact-box p{
  color:black;
  font-family: Verdana, Tahoma, sans-serif;
  font-size:15px;
  padding:0px 14px;
  margin:10px 30px;
  text-align: center;
}
#contact-box a{
  display:inline-block;
  text-align:center;
  margin-left:103px;
}
select{
  padding:10px;
  border-radius: 10px;
}
#sell-block{
  background:white;
  float:left;
  width:40%;
  height:450px;
  font-family: Verdana, Tahoma, sans-serif;
  text-align:center;
}
#sell-block #sell-head{
  padding:130px 20px 15px 20px;
}
#sell-block p{
  margin-left:auto;
  margin-right:auto;
  padding:30px 0px;
  width:60%;
}
#sell-img{
  float:right;
  height:450px;
  width:60%;
  
}
#sell-img img{
  height:450px;
  width:100%;
}
#sell-block input{
  width:50%;
  height:40px;
}
#sell-block #sellbtn{
  color:white;
  padding:9px 10px 12px 10px;
  background:black;
}
#sell-section{
  background:rgba(255, 255, 255, 0.932);
  width:100%;
  height:900px;
}
#sell-section #sell-statements{
  float:left;
  width:50%;
  font-family: Verdana, Tahoma, sans-serif;
  text-align:center;
}
#sell-section #sell-statement h2{
  float:left;
  position: absolute;
  top:45%;
  left:12%;
  color:black;
  font-family: Verdana, Tahoma, sans-serif;
  text-align:center;
  font-size:40px;
}
#sell-section #statements{
  float:right;
  width:50%;
  font-family: Verdana, Tahoma, sans-serif;
  margin-top:40px;
}
.statement-head{
  font-family: Verdana, Tahoma, sans-serif;
  color:black;
  font-size:30px;
  font-weight: bold;
  text-align: left;
}
.statement-body{
  font-family: Verdana, Tahoma, sans-serif;
  color:black;
  font-size:16px;
  padding-bottom:15px;
  padding-left:18px;
}
#contact-sell{
  background:black;
  width:100%;
  height:190px;
}
#contact-sell #sell-contact{
  margin-top:50px;
  margin-left:270px;
  width:60%;
  height:190px;
  font-family: Verdana, Tahoma, sans-serif;
  background:white;
  text-align:center;

}
#contact-sell #sell-contact h3{
  color:black;
  font-weight: bold;
  font-size:30px;
}
#contact-sell #sell-contact p{
  margin-bottom:20px;
}
#contact-sell #sell-contact input{
  width:50%;
  height:40px;
}
#contact-sell #sell-contact a{
  background:black;
  color:white;
  width:30px;
  padding: 10px 15px;
}